.form {
  &-label {
    @include media-breakpoint-up(xl) {
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &-control {
    padding: 11px;
    border: none;
    border-radius: 0;
    font: 16px/20px $font-default;
    color: black;
    display: inline-block;
    vertical-align: top;
    background: white;
    outline: none !important;
    box-shadow: inset 0 3px 3px rgba(black, .33) !important;
    appearance: none;
    @include media-breakpoint-up(xl) {
      padding: 22px 18px 21px;
      font-size: 20px;
      line-height: 28px;
    }

    &::-webkit-input-placeholder { color: $color-blueish; transition: opacity $effect; }
    &:-moz-placeholder { color: $color-blueish; transition: opacity $effect; }
    &::-moz-placeholder { color: $color-blueish; transition: opacity $effect; }
    &:-ms-input-placeholder { color: $color-blueish; transition: opacity $effect; }
    &::-ms-input-placeholder { color: $color-blueish; transition: opacity $effect; }
    &::placeholder { color: $color-blueish; transition: opacity $effect; }

    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
      -webkit-text-fill-color: $color-blueish;
      -webkit-box-shadow: white;
      background: white;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      border-color: black;
      &::-webkit-input-placeholder { opacity: 0; }
      &:-moz-placeholder { opacity: 0; }
      &::-moz-placeholder { opacity: 0; }
      &:-ms-input-placeholder { opacity: 0; }
      &::-ms-input-placeholder { opacity: 0; }
      &::placeholder { opacity: 0; }
    }

    &.error {border-color: $color-red;}
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }

  &-select {
    padding: 11px;
    border: none;
    border-radius: 0;
    font: 16px/20px $font-default;
    color: black;
    display: inline-block;
    vertical-align: top;
    background: white url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") no-repeat right 10px center;
    background-size: 20px 15px;
    outline: none !important;
    box-shadow: inset 0 3px 3px rgba(black, .33) !important;
    appearance: none;
    @include media-breakpoint-up(xl) {
      padding: 22px 18px 21px;
      font-size: 20px;
      line-height: 28px;
    }

    &:focus {border-color: black;}
    &:-moz-focusring {color: transparent;text-shadow: 0 0 0 white;}
    &.error {border-color: $color-red;}
  }

  &-card {
    width: auto;
    height: 14px;
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
    @include media-breakpoint-up(sm) {
      height: 18px;
      margin-top: -2px;
    }
    @include media-breakpoint-up(md) {
      height: 24px;
      margin-top: -3px;
      margin-left: 12px;
    }
    @include media-breakpoint-up(xxl) {
      height: 38px;
      margin-top: -10px;
      margin-bottom: -7px;
      margin-left: 40px;
    }
  }

  &-check {
    min-height: 0;
    padding: 12px 10px 11px 29px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      padding-left: 34px;
    }
    @include media-breakpoint-up(xl) {
      padding: 31px 20px 26px 84px;
      font-size: 20px;
      line-height: 20px;
    }

    & + & {
      margin-top: 5px;
      @include media-breakpoint-up(xl) {
        margin-top: 14px;
      }
    }

    &-inline {
      margin-right: 1.55rem;
    }

    &-label {
      &::after {
        @include pseudo;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        z-index: -1;
        opacity: 0;
        box-shadow: inset 0 3px 3px rgba(black, .33);
      }
    }

    & &-input {
      width: 14px;
      height: 14px;
      margin-top: 2px;
      margin-left: -19px;
      margin-right: 5px;
      border-color: black;
      display: grid;
      place-content: center;
      background-color: white !important;
      -webkit-appearance: none;
      appearance: none;
      outline: none !important;
      box-shadow: none !important;
      transition: border-color $effect-s, background-color $effect-s;
      @include media-breakpoint-up(md) {
        margin-top: 5px;
        margin-left: -22px;
      }
      @include media-breakpoint-up(xl) {
        width: 32px;
        height: 32px;
        margin-top: -7px;
        margin-left: -48px;
      }

      &[type=radio] {
        &::before {
          @include pseudo;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: scale(0);
          transition: transform $effect-s;
          box-shadow: inset 1em 1em #ffc100;
          background-color: white;
          @include media-breakpoint-up(xl) {
            width: 20px;
            height: 20px;
          }
        }
        &:checked {
          &::before {transform: scale(1);}
          ~ .form-check-label::after {opacity: 1;}
        }
      }

      &[type=checkbox] {
        width: 28px;
        height: 28px;
        margin-top: -4px;
        margin-left: -37px;
        border-radius: 50%;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxNSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE3LjcyMiAwIDcuNDQxIDEwLjQgMi4yNzggNS4xNzcgMCA3LjQ3OCA3LjQ0IDE1IDIwIDIuM1oiLz48L3N2Zz4=');
        background-size: 20px auto;
        &:checked {border-color: #00ba00;background-color: #00ba00 !important;}
        @include media-breakpoint-up(md) {
          margin-top: -1px;
        }
        @include media-breakpoint-up(xl) {
          width: 44px;
          height: 44px;
          margin-top: -12px;
          margin-left: -52px;
          background-size: 30px auto;
        }
      }
    }
  }

  .invalid-feedback {
    font-size: 12px;
    line-height: 16px;
    color: $color-red;
    cursor: default;
    @include media-breakpoint-up(xl) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-control.is-invalid, .was-validated &-control:invalid {
    color: $color-red;
  }
}

.btn {
  border-radius: 0;
  font: 16px/16px $font-default;
  letter-spacing: .02em;
  text-transform: uppercase;
}