.form {
  &-group {
    margin-bottom: 8px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 20px;
    }
  }

  &-label {
    margin: 0 10px 7px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: $color-grey;
    display: block;
    @include media-breakpoint-up(xl) {
      margin-bottom: 6px;
    }
  }

  &-control {
    width: 100%;
    padding: 15px 12px;
    border: none;
    border-radius: 8px;
    font: 14px/20px $font-default;
    color: black;
    display: block;
    background: $color-blueish;
    outline: none !important;
    -webkit-appearance: none;
    @include media-breakpoint-up(xl) {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  &-select {
    width: 100%;
    padding: 15px 12px;
    border: none;
    border-radius: 8px;
    font: 14px/20px $font-default;
    color: black;
    display: block;
    background: $color-blueish url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiMzNjM2MzYiIGQ9Ik00LjQzIDguMzUyIDguNzExLjkzNEguMTQ3bDQuMjgyIDcuNDE4WiIvPjwvc3ZnPg==') no-repeat top 23px right 16px;
    outline: none !important;
    -webkit-appearance: none;
    @include media-breakpoint-up(xl) {
      padding-top: 18px;
      padding-bottom: 18px;
      background-position: top 25px right 22px;
    }
  }

  &-more {
    padding: 6px;
    border-radius: 8px;
    margin: 12px 0 0;
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
    background: $color-black;
    @include media-breakpoint-up(xl) {
      margin-top: 1px;
      margin-bottom: 11px;
    }
  }

  &-check {
    margin-top: -1px;
    margin-bottom: -1px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    @include user-select;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }

    &-input {
      position: absolute;
      top: -30px;
      left: -30px;

      &:checked ~ .form-check-label::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjNTBEMTVCIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTEuOTYgMS41MzQgNS4xNDUgOC4zNDcgMS45MDIgNS4xMDQiLz48L3N2Zz4=');
      }
    }

    &-label {
      padding: 1px 0 1px 34px;
      position: relative;
      display: block;
      font-weight: 500;

      &::before {
        @include pseudo;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2ecec no-repeat center center;
        transition: opacity $effect;
      }

      a {
        font-weight: 600;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 8px;
  font: 600 20px/24px $font-default;
  color: white;
  text-transform: uppercase;
  background: $color-green;
  transition: background-color $effect;
  cursor: pointer;
  @include media-breakpoint-up(xl) {
    font-size: 24px;
  }
}