/* ==========================================================================
   HERO
   ========================================================================== */
.hero {
  color: white;
  position: relative;
  z-index: 1;

  &::after, &::before {
    @include pseudo;
    position: absolute;
    top: 0;
    right: -25px;
    bottom: 0;
    left: -25px;
    z-index: -2;
    background: $color-blue no-repeat center left;
    background-size: contain;
    @include media-breakpoint-up(xss) {
      width: 100vw;
      right: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-up(xxxl) {
      background-image: url('#{$img}/sides.png');
    }
  }
  &::before {
    display: none;
    z-index: -1;
    @include media-breakpoint-up(xxxl) {
      display: block;
      background-image: url('#{$img}/sides.png');
      background-color: transparent;
      transform: translateX(-50%) scaleX(-1);
    }
  }

  > .row {
    align-items: flex-end;
    @include media-breakpoint-up(lg) {
      position: static;
    }
  }

  &__content {
    padding: 20px 0 26px;
    text-align: center;
    position: relative;
    z-index: 5;
    @include media-breakpoint-up(md) {
      padding: 40px 0;
    }
    @include media-breakpoint-up(lg) {
      padding: 60px 0;
    }
    @include media-breakpoint-up(xl) {
      padding: 84px 0 67px;
    }
  }

  &__logo {
    padding: 0;
    margin: 0 0 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 42px;
    }

    img {
      width: auto;
      height: 50px;
      margin: 0 auto;
      display: block;
      user-select: none;
      @include media-breakpoint-up(md) {
        height: 75px;
      }
      @include media-breakpoint-up(xl) {
        width: 150px;
        height: auto;
      }
    }
  }

  h1 {
    margin: 0 -10px;
    font-size: 28px;
    line-height: 38px;
    @include media-breakpoint-up(xss) {
      max-width: 420px;
      margin: 0 auto;
      font-size: 34px;
      line-height: 44px;
    }
    @include media-breakpoint-up(md) {
      font-size: 40px;
      line-height: 50px;
    }
    @include media-breakpoint-up(xl) {
      max-width: none;
      font-size: 50px;
      line-height: 60px;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 60px;
      line-height: 72px;
    }


    span {
      color: #77ff81;
      text-transform: uppercase;
    }
  }

  &__image {
    padding: 0;
    margin: 0 -25px;
    position: relative;
    z-index: 3;
    @include media-breakpoint-up(lg) {
      position: static;
    }
    @include media-breakpoint-up(xl) {
      margin: 0;
    }

    img {
      width: 100%;
      max-width: 378px;
      height: auto;
      margin: 0 auto -9px;
      display: block;
      object-fit: contain;
      position: relative;
      left: -1px;
      z-index: 1;
      @include user-select;

      @include media-breakpoint-up(xss) {
        margin-bottom: -10px;
      }
      @include media-breakpoint-up(sm) {
        max-width: 440px;
        margin-bottom: -12px;
        left: 0;
      }
      @include media-breakpoint-up(md) {
        max-width: 580px;
        margin-bottom: -15px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 678px;
        margin: 0 0 -18px -36px;
      }
    }

    &::after {
      @include pseudo;
      height: 75vw;
      min-height: 240px;
      max-height: 330px;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzIzIiBoZWlnaHQ9Ijg1MSIgZmlsbD0ibm9uZSI+PGcgZmlsdGVyPSJ1cmwoI2EpIj48ZWxsaXBzZSBjeD0iNjYxLjE3IiBjeT0iNDE0LjgxMSIgZmlsbD0iIzNCQUFGOCIgcng9IjQ2MS4xNyIgcnk9IjIzNS44MTEiLz48L2c+PGRlZnM+PGZpbHRlciBpZD0iYSIgd2lkdGg9IjEzMjIuMzQiIGhlaWdodD0iODcxLjYyMiIgeD0iMCIgeT0iLTIxIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz48ZmVCbGVuZCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJCYWNrZ3JvdW5kSW1hZ2VGaXgiIHJlc3VsdD0ic2hhcGUiLz48ZmVHYXVzc2lhbkJsdXIgcmVzdWx0PSJlZmZlY3QxX2ZvcmVncm91bmRCbHVyXzQ5OF81MTQ0MyIgc3RkRGV2aWF0aW9uPSIxMDAiLz48L2ZpbHRlcj48L2RlZnM+PC9zdmc+') no-repeat center 0;
      background-size: 150% auto;
      @include media-breakpoint-up(sm) {
        width: 100vw;
        max-height: 380px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        background-size: 175% auto;
      }
      @include media-breakpoint-up(md) {
        max-height: 600px;
      }
      @include media-breakpoint-up(lg) {
        width: 75vw;
        height: 100%;
        max-height: none;
        margin-left: -25vw;
        top: 0;
        transform: none;
        background-position: left 50%;
        background-size: 115% auto;
      }
      @include media-breakpoint-up(xxl) {
        background-size: 1300px auto;
      }
    }
  }
}
